@model ForecastApp.ForecastAppModels.SearchCity

@{
    ViewData["Title"] = "SearchCity";
}

<div class="container">

    <form method="post">

        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Weather Forecast</h2>
                <br />
                <input asp-for="CityName" placeholder="Enter City" class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
        </div>

        <div class="container">
            <div class="form-group  col-md-offset-7 col-md-5">
                <button asp-controller="ForecastApp" asp-action="SearchCity" class="btn btn-primary">Search</button>
            </div>
        </div>

        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Mongo DB Client Url:</h2>
                <span class="text-info" >@Model.MongoDBClientName</span>
            </div>
        </div>
    </form>

</div>